
<%= form_for @course do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :department %><br />
    <%= f.text_field :department %>
  </p>
  <p><%= f.submit %></p>
<% end %>


<p><%= link_to "Back to List", courses_path %></p>
